*{
    margin: 0;
    padding: 0;
}
.top-header{background-color: #f0f2f4;

}
.top-header ul{list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    align-items: center;
}
.top-header ul li{margin-left: 30px;
    color: #424242;
    
}
.top-header ul li i{margin-right: 4px;

}
.top-header ul li:last-child{
    margin-left: 10px !important;
    color: blue;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link{
    color: #424242;
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;
}
.btn-consultation{
    background-color: #de2b24;
    color: #fff !important;
    padding: 5px 0px;
}
.banner{
    background-image:url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner h1{
    color: #fff;
    font-size: 45px;
}
.banner h4{
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}
.banner button{
    background: #f8cd53;
    border: none;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 10px 38px;
    border-radius: 3px;
}
.banner .row{
    min-height: 80vh;
}
.about{

}
.heading h1{

}
.heading h5{

}
.heading span{
    height: 5px;
    width: 0px;
    background: #424242;
    display: block; 
    margin: auto;
    transition: .4s all ease-in-out;  
}
.heading:hover span{
    width: 50px;
}
.about h1{
    color: #424242
}
.about h5{
    color: #424242;
    font-weight: 300;
}
.about .row h3{
    color: #424242;
}
.about .row p{
    color: #424242;
    font-size: 14px;
}
.about img{
    padding-bottom: 10px;
}
.approach h1{
    color: #424242;
}
.approach h5{
    color: #424242;
    text-transform: capitalize;
    font-weight: 300;
}
.approach{
    background: #f3f3f3;
}
.approach-content{
    background-color: #fff;
}
.approach-content h4{
    padding-left: 25px;

}
.approach-content p{
    margin: 0;
    padding: 0 25px;

}
.step{
    background: #de2b24;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translatey(-50%)
}
.step h1{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    padding-top: 10px;
}
.step h6{
    margin: -10px;
    text-transform: capitalize;
    font-weight: 600;
}
.pos{
    position: relative;
}
.position{
    position: relative;
}
.position .step{
    background: #de2b24;
    width: 90px;
    height: 90px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translatey(-50%)
}
.approach-content-left{
    background-color: #fff;
}
.approach-content-left h4{
    padding: 0 60px;
}
.approach-content-left p{
    padding: 0 60px;
}